@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        @apply bg-gray-200
    }
}

body {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 1em;
}


@layer base {
    ::-webkit-scrollbar-track {
        @apply bg-gray-50;
    }
}


@layer base {
    ::-webkit-scrollbar-thumb {
        @apply bg-gray-900;
    }
}


@layer base {
    ::selection {
        @apply bg-gray-900 text-gray-50;
    }
}

.nav-link {
    transition: 0.3s;
}

@layer components {
    .text-balance {
        text-wrap: balance;
    }
}

@layer utilities {
    .responsive-content-width {
        @apply max-w-xl mx-auto px-4;
        @media #{'screen and (min-width: 48rem)'} {
            @apply max-w-screen-md mx-auto px-4;
        }
        @media #{'screen and (min-width: 1280px)'} {
            @apply max-w-screen-xl mx-auto px-6;
        }
    }
}
