@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    padding: 0;
    margin: 0;
}

.nav-link {
    transition: 0.3s;
}

@layer components {
    .text-balance {
        text-wrap: balance;
    }
    .responsive-content-width {
        @apply mx-auto lg:py-12 max-w-7xl
    }
}

.background-gradient {
    background: url('../public/fresh-oasis.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
